name: Upload Docker Images on Release

on:
  release:
    types: [created]

jobs:

  build-and-push:
    permissions: write-all
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [ui, api]

    steps:
      # Step 1: Checkout the repository
      - name: Check out the repository
        uses: actions/checkout@v4

      # Step 2: Log in to Docker Hub (or other registry)
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Step 3: Build the Docker image
      - name: Build ${{ matrix.module }} Docker image
        run: docker build --file Dockerfile.${{ matrix.module }} --tag ${{ vars.REPO_NAME }}-${{ matrix.module }}-${{ github.event.release.name }}:latest .

      # Step 4: Tag the Docker image with the repository name and version
      - name: Tag ${{ matrix.module }} Docker image
        run: |
          docker tag ${{ vars.REPO_NAME }}-${{ matrix.module }}-${{ github.event.release.name }}:latest ${{ secrets.DOCKER_USERNAME }}/${{ vars.REPO_NAME }}-${{ matrix.module }}:latest
          docker tag ${{ vars.REPO_NAME }}-${{ matrix.module }}-${{ github.event.release.name }}:latest ${{ secrets.DOCKER_USERNAME }}/${{ vars.REPO_NAME }}-${{ matrix.module }}:${{ github.event.release.name }}

      # Step 5: Push the Docker image to the repository
      - name: Push ${{ matrix.module }} Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ vars.REPO_NAME }}-${{ matrix.module }}:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ vars.REPO_NAME }}-${{ matrix.module }}:${{ github.event.release.name }}
