name: Upload JARs on Release

on:
  release:
    types: [created]

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    
    - name: Build all modules with Maven
      run: mvn -B clean package --file pom.xml
    
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: jars
        path: |
          */target/*.jar
          !*/target/*.original

  upload:
    needs: build
    permissions: write-all
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [ui, api]
    
    steps:
    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: jars
    
    - name: Upload ${{ matrix.module }} JAR to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ${{ matrix.module }}/target/${{ vars.REPO_NAME }}-${{ matrix.module }}.jar
        asset_name: ${{ vars.REPO_NAME }}-${{ matrix.module }}-${{ github.event.release.name }}.jar
        asset_content_type: application/java-archive